<div class="row">
  {{#each orders}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
        </h4>
        <p>ID de la Orden : {{ _id }} </p>
        {{#ped2}}
        <p>{{Nombre}} X {{Cantidad}}
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="productId" value="{{ _id }}">
        </p>
        {{/ped2}}
        <p>Direccion envio : {{ address }} </p>
        <p> Total : {{ total }} </p>
        <p>Estado Orden : {{ estado }} </p>
        {{#equal estado "PAGADA"}}
        <form action="/pagos/pagar" method="POST">
          <input type="hidden" name="total" value="{{ total }}">
          <input type="hidden" name="_id" value="{{ _id }}">
          <input type="submit" value="Pagar MP" class="btn btn-success btn-block btn-sm"></input>
        </form><br>
        <form action="/pagos/paypal" method="POST">
          <input type="hidden" name="total" value="{{ total }}">
          <input type="hidden" name="_id" value="{{ _id }}">
          <input type="submit" value="Pagar Paypal" class="btn btn-success btn-block btn-sm"></input>
        </form>
        {{/equal}}
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h1>Hello {{user.username}}</h1>
      <h3>No tenes pedidos , utiliza Swagger para realizar uno.</h3>
    </div>
  </div>
  {{/each}}
</div>