<div class="row">
  {{#each Pruducto}}
  <div class="col-md-3 mt-4">
    <div class="card">
      <div class="card-body">
        <p> ID: {{ _id }} </p>
        <p> Producto : {{ nombre }} </p>
        <p> Precio : {{ precio }} </p>      
      </div>
    </div>
  </div>
  {{else}}
  <div class="card mx-auto">
    <div class="card-body">
      <h3>No hay productos cargado en  la Base de datos.</h3>
    </div>
  </div>
  {{/each}}
</div>