<div class="row">
  {{#each Pruducto}}
  <div class="col-md-3 mt-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ nombre }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <p>{{ precio }} </p>
        <!-- DELETE REQUEST -->
        <form action="/productos/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
  <div class="col-md-3 mt-4">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
          <h3>Nuevo Producto</h3>
        </div>
        <div class="card-body">
          <form action="/productos/agregar" method="POST">
            <div class="form-group">
              <input type="text" name="nombre" class="form-control" placeholder="Nombre Producto" autofocus />
            </div>
            <div class="form-group">
              <textarea name="precio" class="form-control" placeholder="Precio"></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>